/* Código de Anand Vunnam */
/* https://bbbootstrap.com/snippets/bootstrap-5-simple-card-hover-effects-50607616 */

.container .card
{
    max-width: 300px;
    height: 215px;
    margin: 30px 10px;
    padding: 20px 15px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
    transition: 0.3s ease-in-out;
}
.container .card:hover
{
    height: 450px;
}
.container .card .imgContainer
{
    position: relative;
    width:250px;
    max-height:250px;
    top:-50px;
    left:10px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}
.container .card .imgContainer img
{
    max-width: 100%;
    border-radius: 4px;
}
.container .card .content
{
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color:#111;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease-in-out;
}
.container .card:hover .content
{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}

#googleSheets:hover{
    height: 500px;
}

#googleForms:hover{
    height: 500px;
}

#writer:hover {
    height: 550px;
}

#calc:hover {
    height: 520px;
}

#impress:hover {
    height: 400px;
}

#draw:hover {
    height: 380px;
}

@media (max-width: 330px){
    .container .card .imgContainer{
        left: -2px;
    }
}